/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Styles for the body */
body {
	font-family: "Nunito";
	background: rgb(234,196,213);
    background: linear-gradient(274deg, rgba(234,196,213,1) 26%, rgba(141,255,205,1) 79%);
	background-color: #eac4d5;
}

/* For the body text i added a gradient so that the background of the website is custom. I used code from this gradient code generator: https://cssgradient.io/ */

.header-text {
	color: #8dffcd;
}

/*Styles for headers*/

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
	background-color: #14110f
}

.resume-main {
	background-color: #eac4d5;
}

.resume-aside {
	background-color: #8dffcd;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: "-";
	color: #14110f;
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #14110f;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}

/* I added these classes to create different colored texts */

.language-progress{
	background-color:azure !important;
}

.green-text{
	color: #8dffcd;
}

.pink-text{
	color: #eac4d5;
}